html
    head
        link(rel="stylesheet", href="/static/style.css")
        title A few of my works!
    body
    nav.navbar
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") Works
            li
                a(href="/interests") About me!
    
    .info