//- this is the start of a pug file. it has an html document beginning, defines the head of the document, and gives it a title. it then defines the body of the element, and then gives it an h1 element, defining a message inside of it as well.
html
    head
        title= title
    body
        h1= message
        h3= greeting
        p= data.basics.name