html
    head
        link(rel="stylesheet", href="/static/style.css")
        title About Me!
    body
    nav.navbar
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") Works
            li
                a(href="/interests") About Me!
    .info
        p= `I speak ${data.languages.language1} and ${data.languages.language2}.`