html
    head
        link(rel="stylesheet", href="/static/style.css")
        title About Me!
    body
    nav.navbar
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") Works
            li
                a(href="/interests") About Me!
    
    .info
        p Here's a few things about me!
        p= `I speak ${data.languages.language1} and ${data.languages.language2}.`
        p= `A few of my hobbies are Drawing, Coding, Math, Swimming, Hiking, and Cooking.`
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, vero ad culpa minima dolor explicabo ipsa? Nihil, obcaecati. At aperiam similique sunt sit fugiat fugit explicabo perferendis iure quis ullam!