html
    head
        link(rel="stylesheet", href="/static/style.css")
        title Interests!
    body
    nav
        ul
            li
                a(href="/") Home Page
            li
                a(href="/contact") Contact me!
            li
                a(href="/github") My Github page
            li
                a(href="/experience") Experience
            li
                a(href="/interests") A few personal interests.